/* header.css */
.navbar-light {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para o cabeçalho */
}

.navbar-light .navbar-brand {
    display: flex;
    align-items: center;
    color: black;
}

.navbar-light .navbar-brand img {
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-dropdown .dropdown-item {
    color: black;
    transition: color 0.2s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-dropdown .dropdown-item:hover {
    color: goldenrod;
}

.navbar-light .navbar-toggler {
    border-color: goldenrod;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='goldenrod' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
